node_modules
dist/js/bundle.js
dist/css/style.css
#-------------------------------
#   Created by OS
#-------------------------------
# Windows
Thumbs.db
# Mac
.DS_Store

#-------------------------------
#   Created by Editor
#-------------------------------
#VSCode
.vscode/