node_modules
dist/js
#-------------------------------
#   Created by OS
#-------------------------------
# Windows
Thumbs.db
# Mac
.DS_Store

#-------------------------------
#   Created by Editor
#-------------------------------
#VSCode
.vscode/