@import '../mixin/layout.scss';

.main-area {
    grid-area: center;
    @include mainLayout;
    background-color: rgb(174, 212, 203);
}

.input-area {
    grid-area: input;
    background-color: rgb(240, 240, 240);

    &__input-form {
        resize: none;
        width: 95%;
        height: 450px;
        padding: 15px;
        font-size: 1.2em;
        line-height: 1.6em;
    }
}

.view-area {
    grid-area: view;
    // width: 45%;
    //max-height: 600px;
    background-color: rgb(240, 240, 240);
}

.view-word {
    width: 95%;
    height: 450px;
    max-height: 450px;
    overflow: auto;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    word-break: keep-all;

    &--underline {
        text-decoration: underline wavy rgb(255, 0, 0);
    }

    &--width {
        border:1px solid rgba(0, 124, 0, 0.7);
    }

    &--kanji {
        background-color: rgba(255, 0, 0, 0.3);
    }
}

.copy-area {

    &__input-code {
        flex-direction: column;
        margin-top: 10px;
    }

    &__copy-form {
        align-items: center;
        margin: 0 auto;

        &--btn {
            padding: 15px 80px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

.options-area {
    grid-area: options;
    background-color: rgb(240, 240, 240);
    padding: 15px;
    margin-top: 20px;
}

.reading-point {

    &__number {
        width: 40px;
    }

}